body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

section {
  margin: 0 18px;
}

section.full-screen {
  margin: 0;
}

nav {
  top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  height: 54px;
  border-bottom: 2px solid #f18989;
}

nav>ul {
  margin-left: auto;
  margin-right: 18px;
}

nav>ul>li {
  display: none;
}

nav>span>img {
  height: 32px;
  width: auto;
  padding: 10px;
}

nav>span {
  display: flex;
  align-items: center;
}

header {
  text-align: center;
  color: white;
  background-color: #f66767;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 36px;
}

nav .circle-pink {
  font-size: 8px;
  background-color: rgb(233, 81, 81);
  border-radius: 100%;
  width: 18px;
  height: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: -8px;
}

.nav .ul .desktop {
  display: none;
}


.relative-container {
  position: relative;
}

header h1 {
  margin: 18px;
}

header p {
  margin: 0;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#Maruko-photos .flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}


h2 {
  text-align: center;
}

#section-video .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

#hobby-article .flex-container .figure {
  text-align: center;
  margin-right: 20;
}

#hobby-article .flex-container .ul li {
  font-size: 9px;
}

#hobby-article .flex-container .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hobby-article>.flex-container figcaption {
  text-align: center;
  margin-top: 16px;
}

fieldset {
  margin: 18px 0;
  border-radius: 6px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: block;
}

#form-section {
  background-color: #f66767;
  color: white;
  padding: 8px;
  margin-top: 16px;
}

#form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  display: block;
  text-align: center;
  color: #f66767;
}